
<div class="container">
  <div class="page-header">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>

  <% @user.feedbacks.each do |feedback| %>
    <div>
      <%= feedback.message %>
    </div>
  <% end %>
</div>