h2 {
	margin: 0;
}

header {
	background: #CDCDCD;

	padding: 0;
	margin: 0;
	
	#header-links {

	}
}

#container {
	width: 900px;
	min-height: 500px;
	margin: auto;

	background: #EEEEEE;
	
	clear: both;
}

footer {
	text-align: center;
	background: #CDCDCD;
	p {
		margin: 0;
		padding: 0;
	}
}